fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiofiles
httpx
groq
faster-whisper
Pillow
easyocr
better-profanity
deep-translator
python-dotenv
email-validator